
* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.mobileHeader {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 10px;
    background: black;
    color: white;
    font-size: 30px;
    opacity: .9;
    z-index: 100;
}

.mobileNav {
    width: 100%;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.mobileNav ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.mobileNav li {
    display: flex;
    align-items: center;
    padding: 0;
}


.mobileDropdown {
    position: fixed;
    z-index: 100;
    margin-top: 50px;
    width: 100%;
    min-height: 80%;
    display: none;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgba(50, 103, 113, 1);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    opacity: .98;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* color: white; */
    font-size: 25px;
    font-weight: 700;
    list-style: none;
    padding-inline-start: 0;
}

.menuButtons li {
    padding: 60px;
    text-decoration: none;
}

.menuButtons li a {
    color: white;
}

.menuElement {
    text-decoration: none;
    border-bottom: 1px solid white;

}

.menuElement:hover {
    color: lightgray;
}

.contactDropdown {
    display: flex;
    position: fixed;
    z-index: 100;
    margin-top: 50px;
    width: 100%;
    min-height: 80%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(50, 103, 113, 1);
    /* margin-top: 15%; */
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: .98;
}

.contactContainer {
    margin-top: 10%;
}

.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    color: white;
}

.contactContent h1 {
    border-bottom: 1px solid white;
}

.contactLinks {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.contactLinks a i {
    color: white;
    font-size: 65px;
}

.contactElement:hover {
    color: lightgray;
}


.imageWrapper {
    top: 2;
    height: 250px;
    background-image: url(../images/snow-top-mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.wrapper {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: scroll;
    /* overflow-y: scroll; */
}

.scrollChild {
    scroll-snap-align: start;
    scroll-margin-top: 50px;
}

.scrollChildEnd {
    scroll-snap-align: center;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    align-items: center;
    background-image: url(../images/snow-top-mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.profileWrapper > img {
    max-height: 70%;
    width: auto;
    border-radius: 50%;
    border: 5px solid white;
}

.profileTitles {
    margin-top: 10%;
}

.profileName {
    color: white;
    font-family: sans-serif;
    width: 100%;
    font-size: 3vmax;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    text-shadow: 2px black;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
}

.profileSubTitle {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* .downArrow{
	position: fixed;
	bottom: 45%;
	left: 50%;
} */


.bounce {
	-moz-animation: bounce 8s infinite;
	-webkit-animation: bounce 8s infinite;
	animation: bounce 8s infinite;
}

.scrollCue {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 100px 0 100px 0;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    /* border-bottom: .5px solid lightgray; */
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    margin: 100px 0 100px 0;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    /* border-bottom: .5px solid lightgray; */
}

.aboutSubContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 90%;
}

.aboutContent {
    /* min-width: 250px; */
    width: 90%;
    text-align: left;
}

.sectionTitle {
    width: 70%;
    color: black;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}

.sectionContent {
    width: 70%;
    text-align: left;
}

.profilePicture {
    width: 20%;
    min-width: 300px;
    height: auto;
    
}

.profilePicture > img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    font-size: 19px;
}

.skillTitle {
    /* width: 70%; */
    color: gray;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* text-decoration: underline; */
}

.skillsArray {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, 70px);
    grid-gap: 1em;
    height: auto;
    padding: 0;
    /* justify-content: space-evenly; */
    margin: 60px 0 0 0;
    /* align-items: center; */
    width: 70%;
}

.skillElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: gray;
    font-size: 14px;
    margin-right: auto;
}

.skillImage {
    max-height: 80px;
    margin: 10px;
}

.languageImage {
    max-height: 60px;
    margin: 10px;
}


.experienceArray {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.experienceElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
}

.experienceImage {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 50px;
    /* border: 1px black solid; */
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experienceImage img {
    width: 100%;
}

.workTitle {
    color: gray;
}

.projectsArray {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.projectElement {
    display: flex;
    justify-content: flex-start;
    margin: 40px auto 40px 0;
}

.projectElement img {
    width: 100%;
}

.overlay {
    display: none;
}

footer {
    width: 100%;
    height: 60px;
    background-color: black;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}






@media (min-width: 450px) {


    .mobileHeader {
        display: flex;
    }

    .mobileDropdown {
        display: none;
    }

    .sectionContainer {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .imageWrapper {
        display: flex;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        /* overflow-x: scroll; */
        /* overflow-y: scroll; */
    }

    .scrollChild {
        scroll-snap-align: start;
        scroll-margin-top: 40px;
    }

    .scrollChildMiddle {
        scroll-snap-align: start;
        scroll-margin-top: 10px;

    }

    .scrollChildEnd {
        scroll-snap-align: center;
    }

    .menuButtons {
        justify-content: center;
    }

    .aboutSubContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .skillElement > img {
        max-height: 120px;
        margin: 10px;
    }

    .skillsArray {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(auto-fit, 150px);
        grid-gap: 1em;
        height: auto;
        padding: 0;
        /* justify-content: space-evenly; */
        margin: 60px 0 0 0;
        /* align-items: center; */
        width: 70%;
    }

    .projectsArray {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .projectElement {
        position: relative;
        max-width: 400px;
        margin-right: 30px;
    }

    .projectImage {
        opacity: 1;
        display: block;
        width: 50%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .overlay {
        display: block;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

    .projectElement:hover .projectImage {
        opacity: 0.3;
    }

    .projectElement:hover .overlay {
        opacity: 1;
      }

      .projectText {
        background-color: white;
        color: gray;
        font-size: 75%;
        /* padding: 16px 32px; */
        padding: 10px;
      }


}








